<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>

<span><%= link_to "View all Events!", events_url%></span>
    <% if current_user %>
      <span><%= link_to "Create Event!", new_event_url%></span>
      <span>Logged in as: <%= link_to "#{current_user.username}", current_user %></span>
      
      <%= form_with model: @user, url: '/sign_out', method: :post do |form|%>
        <div class="actions">
          <%= form.submit "Log Out"%>
        </div>
      <% end %>
      
      <% else %>
      <%= link_to "Login!", "/sign-in" %>
      <%= link_to "Sign up!", new_user_url %>
    <% end %>
    
    
    
    <%= yield %>

    
  </body>
</html>
